alembic==1.7.7
asgiref==3.5.0
cffi==1.15.0
click==8.0.4
colorama==0.4.4
cryptography==36.0.2
distlib==0.3.4
Django==4.0.4
django-ckeditor==6.4.0
django-cleanup==6.0.0
django-crispy-forms==1.14.0
django-js-asset==2.0.0
filelock==3.6.0
Flask==2.0.3
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
itsdangerous==2.1.1
Jinja2==3.0.3
Mako==1.2.0
MarkupSafe==2.1.1
mysql-connector-python==8.0.28
Pillow==9.1.0
platformdirs==2.5.1
pycparser==2.21
PyMySQL==1.0.2
pytz==2022.1
six==1.16.0
sql==2022.4.0
SQLAlchemy==1.4.32
sqlparse==0.4.2
tzdata==2022.1
virtualenv==20.13.2
Werkzeug==2.0.3
wtf==0.1
WTForms==3.0.1
